.card {
  width: 80%;
  max-width: 450px;
  margin: 0 auto; /* Center the card horizontally */
  margin-top: 150px;
  display: flex;
  justify-content: center; /* Center the card horizontally */
  align-items: center; /* Center sthe card vertically */
  background-color: transparent;
  color: white;
}

@media only screen and (min-width: 80em) {
}

@media only screen and (max-width: 400px) {
  .card {
    width: 70%;
  }
}
