.movie-info {
  width: 100%;
  height: 150px;
  background-color: #272e3a;
  padding-top: 10px;
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  z-index: 1; /* Ensure info stays on top */
  text-align: center;
  font-size: 70%;
  transform: translateY(-100%); /* Move info box up by its own height */
}

li {
  display: inline;
  margin-right: 40px;
}
